@media screen and (min-width: 992px) and (max-width: 1200px) {
  .lg-order-1 {
    order: 1 !important;
  }
  .lg-order-2 {
    order: 2 !important;
  }
  .lg-order-3 {
    order: 3 !important;
  }
  .lg-order-4 {
    order: 5 !important;
  }
  .lg-order-6 {
    order: 6 !important;
  }
  .lg-order-7 {
    order: 7 !important;
  }

  .lg-order-8 {
    order: 8 !important;
  }

  .lg-order-9 {
    order: 9 !important;
  }
  .lg-mt-half {
    margin-top: 0.5rem !important;
  }

  .lg-mt-1 {
    margin-top: 1rem !important;
  }

  .lg-mt-2 {
    margin-top: 2rem !important;
  }

  .lg-mt-3 {
    margin-top: 3rem !important;
  }

  .lg-mt-4 {
    margin-top: 4rem !important;
  }

  .lg-mt-5 {
    margin-top: 5rem !important;
  }

  .lg-mb-half {
    margin-bottom: 0.5rem !important;
  }

  .lg-mb-1 {
    margin-bottom: 1rem !important;
  }

  .lg-mb-2 {
    margin-bottom: 2rem !important;
  }

  .lg-mb-3 {
    margin-bottom: 3rem !important;
  }

  .lg-mb-4 {
    margin-bottom: 4rem !important;
  }

  .lg-mb-5 {
    margin-bottom: 5rem !important;
  }
  .lg-pl-1 {
    padding-left: 1rem !important;
  }
  .lg-pl-2 {
    padding-left: 2rem !important;
  }
  .lg-pl-3 {
    padding-left: 3rem !important;
  }
  .lg-pl-4 {
    padding-left: 4rem !important;
  }
  .lg-pl-5 {
    padding-left: 5rem !important;
  }
  .lg-pr-1 {
    padding-right: 1rem !important;
  }
  .lg-pr-2 {
    padding-right: 2rem !important;
  }
  .lg-pr-3 {
    padding-right: 3rem !important;
  }
  .lg-pr-4 {
    padding-right: 4rem !important;
  }
  .lg-pr-5 {
    padding-right: 5rem !important;
  }
  .postDetailModal {
    width: 75% !important;
  }
  .lg-width-55 {
    width: 55% !important;
  }
  .lg-display-none {
    display: none !important;
  }
  .lg-space-between {
    justify-content: space-between !important;
  }
  .lg-flex-end {
    justify-content: flex-end !important;
  }
  .is-modal-lg-top-4 {
    --is-modal-position-top: 4vh !important;
  }
  .is-modal-lg-top-5 {
    --is-modal-position-top: 5vh !important;
  }
  .is-modal-lg-height-85 {
    --is-modal-max-height: 85vh !important;
  }
  .is-modal-lg-height-90 {
    --is-modal-max-height: 90vh !important;
  }
  .is-modal-lg-width-50 {
    --is-modal-max-width: 50% !important;
  }
  .is-modal-lg-width-55 {
    --is-modal-max-width: 55% !important;
  }
  .is-modal-lg-width-60 {
    --is-modal-max-width: 60% !important;
  }
  .is-modal-lg-width-65 {
    --is-modal-max-width: 65% !important;
  }
  .is-modal-lg-width-70 {
    --is-modal-max-width: 70% !important;
  }
  .is-modal-lg-width-75 {
    --is-modal-max-width: 75% !important;
  }
  .is-modal-lg-width-80 {
    --is-modal-max-width: 80% !important;
  }
  .is-modal-lg-width-85 {
    --is-modal-max-width: 85% !important;
  }
  .is-modal-lg-width-90 {
    --is-modal-max-width: 90% !important;
  }
  .is-modal-lg-width-95 {
    --is-modal-max-width: 95% !important;
  }
  .is-modal-lg-width-100 {
    --is-modal-max-width: 100% !important;
  }
  .lg-d-block {
    display: block !important;
  }
  .lg-mt-half {
    margin-top: 0.5rem !important;
  }
  .lg-flex-end {
    justify-content: flex-end !important;
  }
  .lg-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
