@media screen and (min-width: 768px) and (max-width: 992px) {
  .md-order-1 {
    order: 1 !important;
  }
  .md-order-2 {
    order: 2 !important;
  }
  .md-order-3 {
    order: 3 !important;
  }
  .md-order-4 {
    order: 5 !important;
  }
  .md-order-6 {
    order: 6 !important;
  }
  .md-order-7 {
    order: 7 !important;
  }

  .md-order-8 {
    order: 8 !important;
  }

  .md-order-9 {
    order: 9 !important;
  }
  .md-mt-half {
    margin-top: 0.5rem !important;
  }

  .md-mt-1 {
    margin-top: 1rem !important;
  }

  .md-mt-2 {
    margin-top: 2rem !important;
  }

  .md-mt-3 {
    margin-top: 3rem !important;
  }

  .md-mt-4 {
    margin-top: 4rem !important;
  }

  .md-mt-5 {
    margin-top: 5rem !important;
  }

  .md-mb-half {
    margin-bottom: 0.5rem !important;
  }

  .md-mb-1 {
    margin-bottom: 1rem !important;
  }

  .md-mb-2 {
    margin-bottom: 2rem !important;
  }

  .md-mb-3 {
    margin-bottom: 3rem !important;
  }

  .md-mb-4 {
    margin-bottom: 4rem !important;
  }

  .md-mb-5 {
    margin-bottom: 5rem !important;
  }
  .md-pl-1 {
    padding-left: 1rem !important;
  }
  .md-pl-2 {
    padding-left: 2rem !important;
  }
  .md-pl-3 {
    padding-left: 3rem !important;
  }
  .md-pl-4 {
    padding-left: 4rem !important;
  }

  .md-pr-half {
    padding-right: 0.5rem !important;
  }
  .md-pr-1 {
    padding-right: 1rem !important;
  }
  .md-pr-2 {
    padding-right: 2rem !important;
  }
  .md-pr-3 {
    padding-right: 3rem !important;
  }
  .md-pr-4 {
    padding-right: 4rem !important;
  }
  .md-pr-5 {
    padding-right: 5rem !important;
  }
  .postDetailModal {
    width: 85% !important;
  }
  .md-width-65 {
    width: 65% !important;
  }
  .md-display-none {
    display: none !important;
  }
  .md-d-flex {
    display: flex !important;
  }
  .md-space-between {
    justify-content: space-between !important;
  }
  .md-flex-end {
    justify-content: flex-end !important;
  }
  .md-justify-start {
    justify-content: flex-start !important;
  }
  .md-justify-center {
    justify-content: center !important;
  }
  .is-modal-md-top-4 {
    --is-modal-position-top: 4vh !important;
  }
  .is-modal-md-top-5 {
    --is-modal-position-top: 5vh !important;
  }
  .is-modal-md-height-85 {
    --is-modal-max-height: 85vh !important;
  }
  .is-modal-md-height-90 {
    --is-modal-max-height: 90vh !important;
  }
  .is-modal-md-width-50 {
    --is-modal-max-width: 50% !important;
  }
  .is-modal-md-width-55 {
    --is-modal-max-width: 55% !important;
  }
  .is-modal-md-width-60 {
    --is-modal-max-width: 60% !important;
  }
  .is-modal-md-width-65 {
    --is-modal-max-width: 65% !important;
  }
  .is-modal-md-width-70 {
    --is-modal-max-width: 70% !important;
  }
  .is-modal-md-width-75 {
    --is-modal-max-width: 75% !important;
  }
  .is-modal-md-width-80 {
    --is-modal-max-width: 80% !important;
  }
  .is-modal-md-width-85 {
    --is-modal-max-width: 85% !important;
  }
  .is-modal-md-width-90 {
    --is-modal-max-width: 90% !important;
  }
  .is-modal-md-width-95 {
    --is-modal-max-width: 95% !important;
  }
  .is-modal-md-width-100 {
    --is-modal-max-width: 100% !important;
  }
  .md-d-block {
    display: block !important;
  }
  .md-mt-half {
    margin-top: 0.5rem !important;
  }
  .md-flex-end {
    justify-content: flex-end !important;
  }
  .md-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
