:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ff6000;
  --color-light-primary: #919191;
  --color-light-secondary: #f2f2f2;
  --color-gray-text: #adb4d2;
  --color-gray-solid: #9299b8;
}

// xs variables
@media screen and (max-width: 576px) {
  :root {
  }
}

// sm variables
@media screen and (min-width: 576px) and (max-width: 768px) {
  :root {
  }
}

// md variables
@media screen and (min-width: 768px) and (max-width: 992px) {
  :root {
  }
}

// lg variables
@media screen and (min-width: 992px) and (max-width: 1200px) {
  :root {
  }
}

// xxl variables
@media screen and (min-width: 1600px) {
  :root {
  }
}
