:root {
  --color-white: #fff;
  --color-black: #000;
  --color-orange: #ff6000;
  --color-orange-darker: #d05000;
  --color-light-primary: #919191;
  --color-light-secondary: #f2f2f2;
  --color-dark-text: #707070;
  --color-gray-text: #adb4d2;
  --color-gray-solid: #9299b8;
  --color-search-bar-dark: rgba(0, 0, 0, 0.85);
}
