@media screen and (min-width: 1600px) and (max-width: 2560px) {
  .xxl-md-order-1 {
    order: 1 !important;
  }
  .xxl-md-order-2 {
    order: 2 !important;
  }
  .xxl-md-order-3 {
    order: 3 !important;
  }
  .xxl-md-order-4 {
    order: 5 !important;
  }
  .xxl-md-order-6 {
    order: 6 !important;
  }
  .xxl-md-order-7 {
    order: 7 !important;
  }

  .xxl-md-order-8 {
    order: 8 !important;
  }

  .xxl-md-order-9 {
    order: 9 !important;
  }
  .xxl-mt-half {
    margin-top: 0.5rem !important;
  }

  .xxl-mt-1 {
    margin-top: 1rem !important;
  }

  .xxl-mt-2 {
    margin-top: 2rem !important;
  }

  .xxl-mt-3 {
    margin-top: 3rem !important;
  }

  .xxl-mt-4 {
    margin-top: 4rem !important;
  }

  .xxl-mt-5 {
    margin-top: 5rem !important;
  }

  .xxl-mb-half {
    margin-bottom: 0.5rem !important;
  }

  .xxl-mb-1 {
    margin-bottom: 1rem !important;
  }

  .xxl-mb-2 {
    margin-bottom: 2rem !important;
  }

  .xxl-mb-3 {
    margin-bottom: 3rem !important;
  }

  .xxl-mb-4 {
    margin-bottom: 4rem !important;
  }

  .xxl-mb-5 {
    margin-bottom: 5rem !important;
  }
  .xxl-pr-half {
    padding-right: 0.5rem !important;
  }
  .xxl-pr-1 {
    padding-right: 1rem !important;
  }
  .xxl-pr-2 {
    padding-right: 2rem !important;
  }
  .xxl-pr-3 {
    padding-right: 3rem !important;
  }
  .xxl-pr-4 {
    padding-right: 4rem !important;
  }

  .xxl-pr-5 {
    padding-right: 5rem !important;
  }

  .xxl-pl-half {
    padding-left: 0.5rem !important;
  }

  .xxl-pl-1 {
    padding-left: 1rem !important;
  }

  .xxl-pl-2 {
    padding-left: 2rem !important;
  }

  .xxl-pl-3 {
    padding-left: 3rem !important;
  }

  .xxl-pl-4 {
    padding-left: 4rem !important;
  }

  .xxl-pl-5 {
    padding-left: 5rem !important;
  }
}
